<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宇宙戦艦ヤマト2199</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top mr-auto">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-brand">
                    <a href="/home/index" class="nav-link mr-auto"><i class="fa fa-anchor fa-3x"></i> Space Battleship Yamato 2199</a>
                </li>
            </ul>
        </div>
       
    </nav>
    <div class="container-fluid">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Renton Softworks LLC</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
